nav{
    position: relative;
    margin-bottom: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-left{
    width: 250px;
    height: 50px;
  }
  
  .logo{
    width: 130px;
    height: 50px;
    opacity: 0.9;
  }
  
  .logo:hover{
    opacity: 1;
  }
  
  @media (min-width: 968px){
    .destaque{
      margin-left: 4%;
    }
  }
  
  @media (max-width: 968px){
    .logo{
      opacity: 1;
    }
  
    .navbar-left{
      width: 75%;
      height: 75%;
    }
    
    .logo{
      width: 75%;
      height: 75%;
    }  
  }